<div class="container row">

    <div class="container col-6">
        <form [formGroup]="formulario">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ingrese su Correo
                </label>
                <input type="email" id="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Ingrese su correo electronico.</div>
            </div>
            <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" id="password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="button" (click)="login()" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
<div>
